<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{title}}!
  </h1>
  <img width="150" src="http://www.netanimations.net/Big-blue-bird-flying-animated-gif.gif">
</div>
<h3>From breaking news and entertainment to sports and politics, from big events to everyday interests. If it's happening anywhere, it's happening on Chirpster.</h3>
<div class="form-container">
  <mat-form-field>
    <h3>Username:</h3>
    <input matInput placeholder="Username">
  </mat-form-field>

  <mat-form-field>
    <h3>Type Your Chirp Here:</h3>
    <textarea matInput placeholder="Chirp"></textarea>
  </mat-form-field>
</div>
